cython
setuptools<70.0.0
numpy>=1.24.0,<2.0.0
torch==2.1.2
torchvision==0.16.2
gradio>=4.20.0
opencv-python-headless
scipy>=1.11.0
timm>=0.9.0
kornia>=0.7.0
einops>=0.7.0
omegaconf>=2.3.0
tqdm>=4.66.0
loguru>=0.7.0
scikit-image>=0.21.0
lpips
gdown
basicsr @ git+https://github.com/XPixelGroup/BasicSR.git
wandb
sentry-sdk
# For NeoForge Hyper-Advancements
onnxruntime
